@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Roboto|Roboto+Slab');

@media only screen and (min-device-width: 300px) and (max-device-width: 840px){

	div {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	section {
		background-color: white;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		color: black;
	}
		
}

@media only screen and (min-device-width: 840px){
	div {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-wrap: wrap;
		flex: 1;
	}
	section { 
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 5s linear infinite;
}

.small-gif {
    width: 95px; /* Adjust the width */
    height: 95px; /* Adjust the height */
}
.header-box {
	font-size: 80%;
	border: 5px solid black; /* Border around the box */
    padding: 2px; /* Space inside the box */
    margin: 20px; /* Space outside the box */
    background-color: white; /* Background color of the box */
	display: flex;
	flex-direction: column;
    justify-content: flex-start; 
	text-align: center;
    flex: 1;
	min-width: min-content; 
	max-width: 15%;
    min-height: min-content; 
	max-height: 15%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
}

body {
	max-width: 100%;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
}

/* Title Font */
h1 {
	font-size: 3.5rem;
	color: black;
	max-width: 65%;
	text-align: center;
	margin: 0;
}
/* Flexbox Titles */
.title-two {
    font-size: 125%; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

h2,h3,h4 {
	font-size: 1.8rem;
	color: black;
	display: block;
	text-align: left;
	padding-left: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size: 1.4em;
	color: black;
	padding: 10px 40px 10px 40px;
}

ul {
	display: block;
	text-align: left;
	padding-left: 25%;
}

li {
	list-style-position: inside;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-height: 400px;
	max-width: 100%;
}

header {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 4px solid black;
	background-color: white;
	color: black;
}

.bg1 {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background-color: white;
}

.bg2 {
	background-color: white;
}

.bg3 {
	background-color: white;
}
/* for video layout */
iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%
}

footer {
	height: 100px;
	background-color: white;
	color: black;
	border-top: 4px solid black;

}

#complete {
	background-color: yellow;
	color: black;
	border-top: 2px solid brown;
    border-bottom: 2px solid brown;
}
/* to be changed */
