@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Roboto|Roboto+Slab');

@media only screen and (min-device-width: 300px) and (max-device-width: 840px) {

    div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
    }
}

@media only screen and (min-device-width: 840px) {
    div {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    section {
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 5s linear infinite;
}

.SectionWithBorder {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-color: turquoise;
}

/* header boxes */
.header-box {
    font-size: 80%;
    border: 5px dashed black;
    padding: 2px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex: 1;
    min-width: min-content;
    max-width: 22%;
    min-height: min-content;
    max-height: 15%;
}

/* flex container */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.wide-box {
    display: block;
    background-color: white;
    border: 4px solid black;
    color: black;
    text-align: center;
}

/* Flexbox Titles */
.title-two {
    font-size: 125%;
    font-weight: bold;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    border-left: 15px solid white;
    border-right: 15px solid white;
}

/* Title Font */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5.0vw;
    text-decoration: underline;
    color: black;
    max-width: 65%;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 2.0vw;
    color: black;
    margin: auto;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 1.4vw;
    color: black;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}

header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
}

.bg1 {
    background-color: white;
}

.bg2 {
    background-color: white;
}

.bg3 {
    background-color: white;
}

/* for video layout */
iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%
}

footer {
    height: 100px;
    background-color: white;
    color: black;
}

#tall{
    min-height: 480px;
    background-color: white;
}

