@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Roboto|Roboto+Slab');

@media only screen and (min-device-width: 300px) and (max-device-width: 840px) {

    div {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
    }
}

@media only screen and (min-device-width: 840px) {
    div {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    section {
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 5s linear infinite;
}
.spin-reverse {
    padding: 15%;
    animation: spin 5s linear infinite reverse;
    height: 25%;
    width: 50%;
}

.STAY {
 position: fixed;
}

/* USED IN HEADER */

/* header boxes */
.header-box {
    background-color: white;
    border: 5px dashed black;
    padding: 2px;
    margin: 20px;
    text-align: center;
    min-width: min-content;
    min-height: min-content;
    max-width: 22%;
    max-height: 15%;
    flex-direction: column;
    display: flex;
    flex: 1;
    font-size: 80%;
}

/* flex container */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Flexbox Title titles */
.title-two {
    font-size: 125%;
    font-weight: bold;
}

/* USED IN HEADER */

.SectionWithBorder {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-color: turquoise;
}

/* In The Body First Section*/
.BesideTheImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.ContainingTheImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1.2;
}

.invisible-button {
    background: red;
    margin-top: 26%;
    margin-left: 0%;
    margin-right: 10%;
    border: transparent 0px;
    color: transparent;
    cursor: pointer;
    opacity: 0%;
    position: absolute;
    width: 5px;
    height: 5px;
    
  }

.MusicPlayerImage {
     padding-left: 30px;
     padding-right: 30px;
     padding-top: 0px;
     padding-bottom: 0px;
    width: 80%;
    height: auto;
    margin: center;
}
/* In The Body First Section */


.video-container h3 {
    margin-bottom: 18%; /* Adjust as needed for spacing */
  }

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%; /* Adjust as needed for spacing */
  }

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border-top: 15px solid mediumaquamarine;
    border-left: 15px solid lightseagreen;
    border-right: 15px solid lightseagreen;
    border-bottom: 15px solid mediumaquamarine;
}

/* Title Font */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5.0vw;
    text-decoration: underline;
    color: royalblue;
    max-width: 65%;
    text-align: center;
    margin: 0;
}

/* Body Title */
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding-top: 5px;
    color: black;
    text-align: center;
    text-decoration: underline;

}

/* Body text */
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding-top: 0px;
    color: royalblue;
    text-align: center;
    text-decoration: underline;

}

p {
    font-size: 1.5vw;
    color: black;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    display: block;
}

header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
}

/* for video layout */
iframe {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    width: 55%;
    height: auto;
    aspect-ratio:  16 / 9;
}

footer {
    height: 100px;
    background-color: white;
}

#tall {
    min-height: 35%;
    background-color: white;
}

#Yes {
    width: 50%;
    height: auto;
    display: flex;
    flex: 1.5;
}
#No {
    display: flex;
    flex: 1;
}
/* Moving Image UHH NEED TO FIX */
.Stmove {
    bottom: 5px;
    left: 50%;
    position: fixed;
    max-width: 15%;
    transform: translateX(-50%);
    z-index: 1000;

}
.move-up {
    transform: translateY(-550%); /* Moves the image 100px up? */
}

.move-left {
    transform: translateX(-445px); /* Moves the image 100px to the left? */
}
.move-right {
    transform: translateX(225%); /* Moves the image 100px to the right */
}

.move-down {
    transform: translateY(100%); /* Moves the image 100px down */
}

/* Moving Image UHH NEED TO FIX */